nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100%;
    margin-left: 10px;
    
}
.logo span{
    color: #e90a88;
    font-weight: bold;

}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}
.logo img{
    height: 35px;
}
nav ul{
    list-style: none;
    gap: 30px;
    display: flex;
    font-size: 22px;
}
nav ul li a{
    text-decoration: none;
    color: #3333336c;
    font-weight: 500;
    transition: 0,3s;
}
nav ul li a:hover{
    color: #e90a88;
}
.header{
    display: flex;
    align-items: center;
    padding: 80px 60px;
    justify-content: space-between;
}
.header-img{
    position: relative;
    width: 50%;

}
.header-img img{
    width: 500px;

}
.header-text{
    width: 50%;
}
.header-text h1{
    font-size: 40px;
    color: rgba(250, 112, 135, 0.858);
    padding-bottom: 0px;

}
.header-text h2{
    font-size: 40px;
    padding-top: 0px;
    color: #1a1a1ac1;
}
.header-text p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.625);
    margin: 20px 0px;
}
button{
    color: #fff;
    background-color:#1a1a1ac1;
    padding: 10px 10px;

}
button:hover{
    color: white;
    font-weight: bold;
   background-color: rgba(250, 112, 135, 0.858);
   
}
.casual{
    background-color: rgba(251, 147, 164, 0.903);
    width: 100%;
    justify-self: center;
     padding: 20px 20px;
     border-radius: 5px;
   }
.casual h1{
    padding-left: 90px;
    color: white;
    font-weight: bold;
    font-size: 22px
}
.casual-shoes {
    width: 350px;
    height: 600px;
    width: 80%;
    gap: 5px;
    background-color:rgba(250, 112, 135, 0.858);
    display: grid;
    grid-template-columns: 
repeat(3,1fr);
    justify-self: center;
    padding: 60px 40px 60px 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979);
    
}
.casual-image img{
    width: 280px;
    height: 350px;
    border: 2px solid rgb(246, 239, 240);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979);
    
    
}
.casual-image h1{
     padding: 0px 20px ;
     color: white;
}
.casual-image p{
    padding: 0px 20px ;
    color: white;
}
.casual-image h3{
    padding: 0px 20px ;
    color: white;
    font-size: 30px;
}
.casual-image h3 button{
    padding: 10px 10px;
    margin-left: 80px;
}
.formal-shoes{
     width: 350px;
    height: 600px;
    width: 80%;
    gap: 10px;
    background-color:rgba(250, 112, 135, 0.858);
    display: grid;
    grid-template-columns: 
repeat(3,1fr);
    justify-self: center;
    padding: 60px 40px 60px 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979);
}
.formal-image img{
     width: 280px;
    height: 350px;
    border: 2px solid white;
    border-radius: 10px;
     box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979);
    
}
.formal-image h1{
     padding: 0px 20px ;
     color: white;
}
.formal-image p{
    padding: 0px 20px ;
    color: white;
}
.formal-image h3{
     padding: 0px 20px ;
    color: white;
    font-size: 30px;
}
.formal-image h3 button{
    padding: 10px 10px;
    margin-left: 80px;
}
.container{
     display: flex;
    gap: 40px;
    padding: 20px 20px;
    padding-left: 90px; 
}
.slides{
     width: 100%;
    height: 150px;
    background-color:rgba(250, 112, 135, 0.858);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979); 
}
.slides h1{
     color: white;
    font-size: 25px;
    font-weight: bold;
     padding-left:40px;
     padding-top: 20px;
     text-align: center;
    
}
.slides p{
    text-align: center;
    color: white;
    font-size: 16px;
 }
 .container-left{
    flex: 1;
    min-width: 300px;
}
.container-right{
    flex: 1;
    text-align: center;
    min-width: 300px;
}
.container-right img{
    max-width: 100%;
    height: auto;
    padding-top: 50px;
} 
.newsletter{
    background-color: rgba(250, 112, 135, 0.858);
    width: 90%;
    height: 180px;
    justify-self: center;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 0px;
    box-shadow: 10px 10px 10px rgba(216, 45, 74, 0.979);
    
    
}
.newsletter input{
    width: 80%;
    height: 40px;
    margin: 100px 0px 0px 90px;

}
.newsletter button{
    color: #fff;
    padding: 12px 15px;
    
}
.footer{
   padding: 40px 20px 10px 20px;
   color: #fff;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-column{
    width: 200px;
    margin-bottom: 20px;
}
.footer-column h1{
    font-size: 22px;
    margin-bottom: 10px;
    color: rgba(250, 112, 135, 0.858);

}
.footer-column ul{
    list-style: none;
    padding: 0;
    
}
.footer-column ul li{
    margin-bottom: 8px;
    color: #1a1a1ac1;

}
.footer-column ul li a{
    color: #333333d6;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333333d6 ;
    
}
.footer-bottom p a{
    color: rgba(250, 112, 135, 0.858);
}
